.input {
    padding: 10px;
    border-radius: 5px;
    border: orange 1px solid;
    width: 300px;
}


/* .field {
    display: none;
} */

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: white;
}

.delete {
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}


/* From uiverse.io by @adamgiebl */


/* .cssbuttons {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient( 0deg, rgb(255, 140, 0) 0%, rgba(255, 215, 0) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons svg {
    margin-right: 6px;
}

.cssbuttons:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
} */